◇ injected env (9) from .env.local // tip: ◈ secrets for agents [www.dotenvx.com]
-- AlterTable
ALTER TABLE "users" ADD COLUMN     "failedLoginAttempts" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "lockedUntil" TIMESTAMP(3);

