-- CreateEnum
CREATE TYPE "ShippingMethod" AS ENUM ('PICKUP', 'LOCAL_DELIVERY', 'STORE_COURIER', 'COURIER');

-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('PENDING', 'SUCCESS', 'FAILED');

-- CreateEnum
CREATE TYPE "JournalRefType" AS ENUM ('INVOICE', 'PAYMENT', 'CREDIT_NOTE', 'EXPENSE', 'CAPITAL', 'CAPITAL_WITHDRAWAL', 'SUPPLIER_PAYMENT', 'SAMPLE_USAGE', 'ADJUSTMENT', 'PRODUCTION', 'ROASTING', 'SALE', 'PURCHASE', 'VOID_REVERSAL');

-- AlterTable
ALTER TABLE "invoices" ALTER COLUMN "shippingMethod" TYPE "ShippingMethod" USING "shippingMethod"::text::"ShippingMethod";

-- AlterTable
ALTER TABLE "journal_entries" ALTER COLUMN "refType" TYPE "JournalRefType" USING "refType"::text::"JournalRefType";

-- AlterTable
ALTER TABLE "subscription_payments" ALTER COLUMN "status" TYPE "PaymentStatus" USING "status"::text::"PaymentStatus";

-- CreateTable
CREATE TABLE "budgets" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "periodMonth" INTEGER NOT NULL,
    "periodYear" INTEGER NOT NULL,
    "category" TEXT NOT NULL,
    "amount" DECIMAL(16,2) NOT NULL,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "budgets_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "budgets_tenantId_periodYear_periodMonth_idx" ON "budgets"("tenantId", "periodYear", "periodMonth");

-- CreateIndex
CREATE UNIQUE INDEX "budgets_tenantId_periodYear_periodMonth_category_key" ON "budgets"("tenantId", "periodYear", "periodMonth", "category");

-- CreateIndex
CREATE INDEX "journal_entries_tenantId_refType_idx" ON "journal_entries"("tenantId", "refType");

-- CreateIndex
CREATE INDEX "subscription_payments_tenantId_idx" ON "subscription_payments"("tenantId");

-- CreateIndex
CREATE INDEX "users_tenantId_idx" ON "users"("tenantId");

-- AddForeignKey
ALTER TABLE "parent_roasting_batches" ADD CONSTRAINT "parent_roasting_batches_machineId_fkey" FOREIGN KEY ("machineId") REFERENCES "machines"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "child_roasting_batches" ADD CONSTRAINT "child_roasting_batches_roastId_fkey" FOREIGN KEY ("roastId") REFERENCES "roasts"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "budgets" ADD CONSTRAINT "budgets_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE RESTRICT ON UPDATE CASCADE;
